body {
    background-color: #180161;
    color: white;
    font-family: sans-serif;
}
div {
    position: fixed;
    left: 0%;
    right: 0%;
}
a {
    text-decoration: none;
}
.head1 {
    width: 100vw;
    height: 7.5vh;
    font-size: 2vw;
    background-color: #4f1787;
    top:0%;
    padding-top: 15px;
}
.head2 {
    width: 100vw;
    height: 2.8vh;
    font-size: 1.2vw;
    font-weight: bold;
    background-color: gold;
    display: flex;
    justify-content: space-evenly;
    top:7.5%;
}
.main1 {
    width: 100vw;
    height: 3vh;
    font-size: 1.3vw;
    text-align: right;
    margin-top: 10px;
    top:10.3%;
}
.main2 {
    background-color: rgba(240, 248, 255,0.9);
    width: 80vw;
    height: 25vh;
    top:25%;
    margin-left: 10%;
    border: 2px solid gold;
    border-radius: 25px;
    box-shadow: 0px 0px 32px gold;
    color: #4f1787;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.65vw;
    padding: 10px 10px 0px 10px;
}